<section class="h-[200vh] sm:h-auto lg:h-[140vh] xl:h-[70vh]">
    <ul class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 h-full">
        {% for block in home.cards %}
                <li class="relative">
                    <a href="{{block.linkto}}" class="block lg:absolute inset-0 bg-cover bg-center h-[80vh] sm:h-[70vh] lg:h-[70vh] xl:h-[80vh] 3xl:h-[70vh] front lozad2"
                        data-background-image="{{ block.background.one().url }}" style="z-index: 2;">
                        <div class="absolute inset-0 bg-black opacity-40 overlay h-[80vh] sm:h-[70vh] lg:h-[70vh] xl:h-[80vh] 3xl:h-[70vh]"></div>
                        <h2 class="absolute left-1/2 transform -translate-x-1/2 w-[80%] mx-auto top-20 text-white text-3xl">{{block.title}}</h2>
                    </a>
                </li>
        {% endfor %}
    </ul>
</section>