<section class="carouselsection mt-[125vh] sm:mt-12 h-[60vh] md:h-[65vh] 2xl:h-[80vh] md:mt-[5vh] xl:mt-[15vh]">
    <div class="carousel-container">
        {% for image in entry.imagescarousel %}
            <input type="radio" hidden name="slider" id="item-{{loop.index}}" {% if loop.index == 1 %}checked{% endif %}>
        {% endfor %}
        <div class="cards">
            {% for image in entry.imagescarousel %}
                <label class="card" for="item-{{loop.index}}" id="picture-{{loop.index}}">
                    <img class="lozad" data-src="{{ image.url }}" alt="carousel picture">
                </label>
            {% endfor %}
        </div>
    </div>
</section>
<div class="w-[70%] mx-auto mb-[3rem] text-center">
    <a href="/galerij"><button class="fade-up button">Meer foto's ></button></a>
</div>
