<main class="mt-[8rem]">
    <div class="max-w-[90%] md:max-w-[80%] mx-auto mb-[2rem]">
        <h2>{{entry.contacttitel}}</h2>
        {{ craft.freeform.form('contacteerOns').render() }}
    </div>
    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Beerselsestraat%202,%201651%20Lot+(My%20Business%20Name)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps systems</a></iframe></div>
</main>