<header class="relative bg-cover bg-center h-[55vh] lozad2"
    data-background-image="{{ entry.bannerimage.one().url }}" style="z-index: 2;">
        <div class="absolute inset-0 bg-black opacity-50"></div>
        <h1 class="absolute header-text text-4xl sm:text-6xl top-1/2 left-1/2 font-black z-50 w-[90%] mx-auto text-center text-[#d9d7af] uppercase">{{ entry.title }}</h1>
</header>